<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block page_title %}Books Catalogue Website{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <!--<link rel="manifest" href="site.webmanifest">-->
        <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">
        <link rel="shortcut ico" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="container fontcolour">
            <header>
      {% block page_heading_title %}<h1 class="header__text">Books Catalogue Website</h1>{% endblock %}
      <nav class="nav">
        <ul class="nav__list">
            {% url 'home' as home_url %}
            {% url 'books' as books_url %}
            {% url 'datamodel' as datamodel_url %}
          <li {% if request.get_full_path == home_url %}class="nav__item nav__item--current"{% else %}class="nav__item"{% endif %} ><a href="{% url 'home' %}" class="nav__link">Home</a>     
            <li {% if request.get_full_path == books_url %}class="nav__item nav__item--current"{% else %}class="nav__item"{% endif %} ><a href="{% url 'books' %}" class="nav__link">Book List</a>
              <li {% if request.get_full_path == datamodel_url %}class="nav__item nav__item--current"{% else %}class="nav__item"{% endif %} ><a href="{% url 'datamodel' %}" class="nav__link">Data Model</a>
        </ul>
      </nav>
    </header>
         <main>
      <section>
        {% block main_body %}
        <h2 class="heading2">Website Purpose</h2>
        <p>Welcome to my Book Catalogue website.</p>
        <p>My name is Joshua Bauer (S263364).</p>
        <p>I chose to do my assignment on books as I love reading, and would like to share my list of books with you.</p>
        {% endblock %}
      </section>
    </main>

        

        <footer class="footer">
      <div class="footer__text">
            <p>&copy; 2018 Charles Darwin University  --  HIT237 Assignment 1 --  S263364 Joshua Bauer</p>
         </div>
        </footer>

        <!--Javascrip includes-->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        </div>
    </body>
</html>