{% extends "base.html" %}

{% block page_title %}Books Catalogue - Single Item{% endblock %}

{% block page_heading_title %}<h1 class="header__text">Books Catalogue - Single Item</h1>{% endblock %}

{% block main_body %}

    {% if book %}
    <h2 class="heading2">{{ book.title }}</h2>
    <table>
      <tr>
        <th>Author</th>
        <td>{{ book.author }}</td>
      </tr>
      <tr>
        <th>ISBN</th>
        <td>{{ book.isbn }}</td>
      </tr>
        <tr>
        <th>Genre</th>
        <td>{{ book.genre }}</td>
      </tr>
        <tr>
        <th>Publisher</th>
        <td>{{ book.publisher }}</td>
      </tr>
        <tr>
        <th>Summary</th>
        <td>{{ book.summary }}</td>
      </tr>
    </table>

        
    {% else %}
      <p>There appears to be a problem, we can't find that book.</p>
    {% endif %}       
{% endblock %}