{% extends "base.html" %}

{% block page_title %}Books Catalogue - Single Item{% endblock %}

{% block page_heading_title %}<h1 class="header__text">Books Catalogue - Single Item</h1>{% endblock %}

{% block main_body %}

    {% if book %}
    <h2 class="heading2">{{ book.title }}</h2>
    <table class="table">
      <tr>
        <th class="table__item">Author</th>
        <td class="table__item">{{ book.author }}</td>
      </tr>
      <tr>
        <th class="table__item">ISBN</th>
        <td class="table__item">{{ book.isbn }}</td>
      </tr>
        <tr>
        <th class="table__item">Genre</th>
        <td class="table__item">{{ book.genre }}</td>
      </tr>
        <tr>
        <th class="table__item">Publisher</th>
        <td class="table__item">{{ book.publisher }}</td>
      </tr>
        <tr>
        <th class="table__item">Summary</th>
        <td class="table__item">{{ book.summary }}</td>
      </tr>
    </table>

        
    {% else %}
      <p>There appears to be a problem, we can't find that book.</p>
    {% endif %}       
{% endblock %}