{% extends "base.html" %}

{% block page_title %}Books Catalogue - Data Model{% endblock %}

{% block page_heading_title %}<h1 class="header__text">Books Catalogue - Data Model</h1>{% endblock %}


{% block main_body %}

   <h2 class="heading2">Model Table</h2>
        <table class="table">
            <thead class="table__head">
                <tr>
                    <th class="table__item">Attribute Name</th>
                    <th class="table__item">Description</th>
                    <th class="table__item">Type</th>
                    <th class="table__item">Size</th>
                    <th class="table__item">Contraint</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table__item">ID</td>
                    <td class="table__item">Assign a unique indentifer to each catalogue item</td>
                    <td class="table__item">Numeric</td>
                    <td class="table__item">4</td>
                    <td class="table__item">Primary Key</td>
            </tr>
            <tr>
                <td class="table__item">Title</td>
                    <td class="table__item">This is the name of the book</td>
                    <td class="table__item">String</td>
                    <td class="table__item">100</td>
                    <td class="table__item">Not Null</td>
            </tr>
            <tr>
                <td class="table__item">ISBN</td>
                    <td class="table__item">International Standard Book Number given to each book to reference against global databank</td>
                    <td class="table__item">Numeric</td>
                    <td class="table__item">13</td>
                    <td class="table__item">Validated</td>
            </tr>
            <tr>
                <td class="table__item">Author</td>
                    <td class="table__item">This is the author of the book</td>
                    <td class="table__item">String</td>
                    <td class="table__item">50</td>
                    <td class="table__item">Not Null</td>
            </tr>
            <tr>
                <td class="table__item">Genre</td>
                    <td class="table__item">This is the genre of the book</td>
                    <td class="table__item">String</td>
                    <td class="table__item">50</td>
                    <td class="table__item">Not Null</td>
            </tr>
            <tr>
                <td class="table__item">Publisher</td>
                    <td class="table__item">This is the publisher of the book</td>
                    <td class="table__item">String</td>
                    <td class="table__item">50</td>
                    <td class="table__item">Not Null</td>
            </tr>
            <tr>
                <td class="table__item">Summary</td>
                    <td class="table__item">This is a short discription of the book</td>
                    <td class="table__item">Text</td>
                    <td class="table__item">250</td>
                    <td class="table__item">Not Null</td>
            </tr>
           </tbody>
        </table>
              
{% endblock %}